@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Protest+Revolution&family=Protest+Riot&display=swap');
body {
  font-family: 'Protest Revolution', sans-serif;
  margin: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}
button{
  font-family: 'Protest Revolution', sans-serif;
}
input{
  font-family: 'Protest Revolution', sans-serif;
}

