.favButtonCard{
    background-color: #d4af07;
    color: #ff00ff;
    width: 4rem;
    height: 4rem;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    border: none;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    bottom:0;
    right: 0;
}
.cardContent{
    @media screen and (min-width:768px){
        height: 20rem;
        width: 15rem;
        margin: 2rem 2rem;
    }
    height: 16rem;
    width: 10rem;
    margin: 2rem 1rem;
    position: relative;
}
.cardContent:hover{
    transform: scale(1.5);
    z-index: 100;
}
.cardHome{
    display: grid;
    @media screen and (min-width: 1024px){
     grid-template-columns: repeat(4, 1fr);   
    }
    grid-template-columns: repeat( 2,1fr);
}